#
# .gitignore
# =============================================================================
# Urban bus routing microservice prototype (C port). Version 0.1.0
# =============================================================================
# A daemon written in C (GNOME/libsoup), designed and intended to be run
# as a microservice, implementing a simple urban bus routing prototype.
#
# This is the configuration of the project Git ignorables,
# i.e. objects that should not be put into the repository.
#

# === Object files ============================================================
*.o

# === Executables =============================================================
bin/

# === Log files ===============================================================
log/

# vim:set nu et ts=4 sw=4:
